<div *ngIf="statusSippner" style="position: relative;">
  <div style="position: absolute; height: 100vh; width: 100vw; background-color: rgba(0, 0, 0, .25);"
  class="d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<main style="height: 90vh; width: 100vw;" class="row">
  <section class="col-5" style="background-color: #000080;">
    <div class="row d-flex justify-content-center">
      <div class="col-8 mt-3">
        <input type="text" class="form-control" placeholder="Buscar..." [ngModel]="terminoBusqueda" (ngModelChange)="buscarPelicula($event)" >
      </div>
    </div>
    <div class="row mt-4">
      <div class="noScroll" style="height: calc(100vh - 100px); overflow-y: auto;">
        <div class="col-8 offset-2 mb-2" *ngFor="let movie of lstEstreno">
          <app-card  
            [title]="movie.title" 
            [urlMovieImg]="baseURLImg+movie.poster_path">
          </app-card>
      </div>
      </div>
    </div>
  </section>
  <section class="col-7">
    <div class="row">
        <div class="col-12">

          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Genero:</label>
            <div class="col-sm-10">
              <select name="" id="" class="form-select" [ngModel]="currentIdGenero" (ngModelChange)="consultarGenero($event)">
                <option value="0">Seleccione una opción</option>
                <option [value]="categoria.id" *ngFor="let categoria of lstCategorias">{{ categoria.name }}</option>
              </select>
            </div>
          </div>          
        </div>
      <div class="col-12" >
        <div class="row" style="overflow-x: auto;">
          <div class="col-12 d-flex" *ngIf="lstMovies.length; else noData">
            <app-card 
              *ngFor="let movie of lstMovies | filter:terminoBusqueda" 
              [title]="movie.title" 
              [urlMovieImg]="baseURLImg+movie.poster_path"
              class="me-2">
            </app-card>
          </div>
        </div>
      </div>
      <div class="col-12">
        <h3>Trending</h3>
        <div class="row" style="overflow-x: auto;">
          <div class="col-12 d-flex">
            <app-card 
              *ngFor="let movie of lstTrending" 
              [title]="movie.title" 
              [urlMovieImg]="baseURLImg+movie.poster_path"
              class="me-2">

            </app-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<ng-template #noData>
  <h2>Lo sentimos, no se encontro informacion acerca del genero</h2>
</ng-template>